@import "tailwindcss";

@reference "../../style.css";

@layer components {
  /* dropdown 相關 */
  .dropdown-item {
    @apply hidden;
  }

  .dropdown-item[data-drop] {
    @apply bg-[#f6f6f6] w-full max-w-[min(500px,70%)] max-h-50 md:max-h-70 rounded-sm shadow-md text-center text-lg overflow-y-auto z-30 overscroll-contain;
  }

  .dropdown-item li {
    @apply cursor-pointer overscroll-none py-1 transition-all duration-75 select-none not-last:border-b-1 not-last:border-gray-200 hover:bg-gray-200;
  }

  .input-label:has(.dropdown-input) {
    @apply relative;
  }

  .input-label:has(.dropdown-input)::before {
    @apply absolute right-0 inline-block h-7 w-7 translate-y-[10%] transform bg-gray-500 mask-[url('../dropdown.svg')] mask-center mask-no-repeat transition-all duration-75 content-[""];
  }

  .input-label:has(.dropdown-input:focus)::before {
    @apply rotate-180;
  }

  .dropdown-select {
    @apply hidden appearance-none;
  }
}
