@reference "../../../style.css";

@layer base {
  @property --theme {
    syntax: '<color>';
    inherits: true;
    initial-value: var(--color-primary-500);
  }

  /*
Source - https://stackoverflow.com/a
Posted by Alex Char, modified by community. See post 'Timeline' for change history
Retrieved 2025-11-28, License - CC BY-SA 4.0
*/

  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

@layer components {
  .pagination {
    --theme: var(--themeColor, var(--color-primary-500));
    @apply flex gap-2 my-3 pr-5 items-center
  }

  .page-item {
    @apply aspect-square hover:bg-[var(--theme)] rounded-full w-8 select-none transition-all duration-75 disabled:text-gray-300 disabled:pointer-events-none;
  }

  .page-item:not([disabled]) {
    @apply hover:bg-[var(--theme)]/30 hover:text-[var(--theme)] cursor-pointer
  }

  .page-item[data-currentPage] {
    @apply bg-[var(--theme)] text-white;
  }

  .pagination-jump {
    @apply flex grow-[2] mr-3 justify-end gap-1 items-center text-gray-400 text-nowrap select-none [&>div]:max-w-20
  }
}