/* @reference "../../Styles/component.css"; */
@reference "../../Styles/style.css";

@layer base {

    /* BUTTON */
    button {
        /* 0825 配合調整 */
        @apply h-fit cursor-pointer text-sm font-medium focus:ring-0 focus:ring-transparent focus:outline-none;
    }
}

@layer components {

    /* 按鈕樣式 */
    /* Button 預設是 filled 樣式 */
    .btn {
        --theme: var(--stx-btn-color-bg-primary);
        --theme-outline-hover: var(--custom-bg, var(--stx-btn-color-bg-outline-hover));
        --theme-hover:var(--stx-btn-color-bg-filled-hover);
        --theme-text-color: var(--stx-btn-color-text-filled);
        --theme-border-color: var(--theme, transparent);
        --theme-ring: var(--stx-btn-shadow);
        --theme-active: var(--stx-btn-color-bg-filled-active);
        --size: 1;
        padding-inline: --spacing(4);
        padding-block: --spacing(2);
        @apply h-(--stx-btn-md) cursor-pointer rounded-md bg-(--theme) text-sm font-medium text-(--theme-text-color) transition-all hover:bg-(--theme-hover) active:bg-(--theme-active) focus-visible:ring-3 focus-visible:ring-(--theme-ring) focus-visible:outline-none border-(--theme-border-color) text-nowrap;
    }

    .btn-xs {
        --size: 0.5;
        padding-inline: calc(--spacing(2) * var(--size));
        padding-block: calc(--spacing(1) * var(--size));
        @apply text-xs rounded-xs h-(--stx-btn-xs);
    }

    .btn-sm {
        --size: 0.8;
        padding-inline: calc(--spacing(2) * var(--size));
        padding-block: calc(--spacing(1) * var(--size));
        @apply text-sm rounded-sm h-(--stx-btn-sm);
    }

    .btn-lg {
        --size: 1.2;
        padding-inline: calc(--spacing(4) * var(--size));
        padding-block: calc(--spacing(2) * var(--size));
        @apply text-lg h-(--stx-btn-lg);
    }

    .btn-xl {
        --size: 1.5;
        padding-inline: calc(--spacing(4) * var(--size));
        padding-block: calc(--spacing(2) * var(--size));
        @apply text-xl h-(--stx-btn-xl);
    }

    .outline-btn {
        --theme-text-color: var(--theme, var(--stx-btn-color-text-outline));
        --theme: var(--theme, var(--stx-btn-color-bg-primary));
        --theme-active: var(--stx-btn-color-bg-outline-active);
        @apply border border-(--theme) bg-transparent text-[var(--theme-text-color)] hover:bg-(--theme-outline-hover) active:bg-(--theme-active) focus-visible:ring-3 focus-visible:ring-(--theme-ring) focus:outline-none;
    }

    .text-btn {
        --theme-text-color: var(--theme, var(--stx-btn-color-text-outline));
        --theme-active: var(--stx-ref-primary-100);
        @apply border-0 bg-transparent text-(--theme-text-color) hover:bg-(--theme-outline-hover) active:bg-(--theme-active) focus-visible:ring-3 focus-visible:ring-(--theme-ring) focus-visible:outline-none;
    }

    .radius-btn {
        @apply rounded-full;
    }

    .icon-btn {
        --size: var(var(--size), 6);
        padding: calc(--spacing(2) * var(--size));
    }

    .icon-text-btn {
        @apply w-fit flex items-center justify-center gap-2 text-sm bg-transparent [&_.icon]:text-(--theme);
    }

    .btn.icon-btn .icon,
    .btn.outline-btn .icon {
        --size: var(var(--size), 6);
        --theme-text-color: var(--theme-text-color, var(--stx-btn-color-text-filled));
        width: calc(--spacing(6) * var(--size));
        height: calc(--spacing(6) * var(--size));
        pointer-events: none;
    }

    .btn[disabled] .icon {
        @apply text-[var(--theme)];
    }

    .btn-primary {
        --theme: var(--color-primary-500);
        --theme-hover: var(--color-primary-800);
        --theme-outline-hover: var(--color-primary-50);
        --theme-ring: var(--color-primary-300);
        --theme-active: var(--color-primary-700);
    }

    .btn-secondary {
        --theme: var(--color-secondary-500);
        --theme-hover: var(--color-secondary-800);
        --theme-outline-hover: var(--color-secondary-100);
        --theme-ring: var(--color-secondary-300);
        --theme-active: var(--color-secondary-700);
    }

    .btn-danger {
        --theme: var(--stx-ref-danger-500);
        --theme-hover: var(--stx-ref-danger-600);
        --theme-outline-hover: var(--stx-ref-danger-100);
        --theme-ring: var(--stx-ref-danger-300);
        --theme-active: var(--stx-ref-danger-700);
    }

    .btn-success {
        --theme: var(--stx-ref-success-600);
        --theme-hover: var(--stx-ref-success-800);
        --theme-outline-hover: var(--stx-ref-success-100);
        --theme-ring: var(--stx-ref-success-300);
        --theme-active: var(--stx-ref-success-700);
    }

    /* 0825 */
    /* .btn-success-drawing {
        --theme: var(--color-green-500);
        --theme-hover: var(--color-green-600);
        --theme-outline-hover: var(--color-green-100);
        --theme-active: var(--color-green-300);
        margin: 2px;
    } */

    .btn-success-query {
        --theme: var(--color-blue-400);
        --theme-hover: var(--color-blue-500);
        --theme-outline-hover: var(--color-blue-100);
        --theme-active: var(--color-blue-300);
        margin: 2px;
    }

    .btn[disabled] {
        --theme: var(--stx-btn-color-bg-filled-disabled);
        /* --theme-hover: var(--color-gray-800);
        --theme-outline-hover: var(--color-gray-100);
        --theme-active: var(--color-gray-300); */
        --theme-text-color:var(--stx-btn-color-text-disable);
        @apply pointer-events-none cursor-not-allowed;
    }

    .disabled {
        @apply hover:cursor-not-allowed;
    }
}