@reference "../../../style.css";

@layer base {
  @property --theme {
    syntax: '<color>';
    inherits: true;
    initial-value: var(--color-primary-500);
  }

  /*
Source - https://stackoverflow.com/a
Posted by Alex Char, modified by community. See post 'Timeline' for change history
Retrieved 2025-11-28, License - CC BY-SA 4.0
*/

  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

@layer components {

  .tabs {
    --theme: var(--theme);
    @apply flex justify-center items-center gap-10
  }

  .tab-list {
    @apply justify-center gap-3 px-3 py-2 [&_.tab-item]:flex [&_.tab-item]:cursor-pointer [&_.tab-item]:gap-2 [&_.tab-item]:px-6 [&_.tab-item]:relative [&_.tab-item]:overflow-hidden
  }

  .tab-list .tab-item:not(:last-of-type) {
    @apply border-r-2 border-r-(--theme)
  }

  .tab-list .tab-item[data-tabselected]::before {
    @apply top-1/2 -translate-y-1/2 opacity-100
  }

  .tab-list .tab-item::before {
    @apply absolute content-[''] inline-block w-3 aspect-square bg-(--theme) rounded-full opacity-10 -translate-x-5 transition-all duration-75 -translate-y-full ease-in-out
  }

  .tabs[aria-orientation="vertical"] .tab-list {
    @apply flex
  }

  .panel-container {
    @apply py-2 px-3 rounded-lg max-w-[80%]
  }
}