@reference "../../../style.css";

@layer base {}

@layer components {

  /*table容器*/
  .table-container{
    --theme: var(--themeColor, var(--color-primary-100));
    @apply w-full h-fit rounded-md bg-[#fff] max-w-full max-h-80 overflow-auto;
  }

  .table:empty {
    @apply mx-auto w-10/12 h-20
  }

  .table-skeleton {
    @apply w-full h-full max-h-full overflow-hidden bg-[#fff];
  }

  /*table本體*/
  .table {
    @apply w-full h-full rounded-md;
  }

  .table thead {
    @apply sticky top-0 bg-[var(--theme)] shadow-md text-primary-900;
  }

  .table tbody {
    @apply w-full h-full min-h-50;
  }

  .table tbody tr {
    @apply w-full transition-all bg-[#fff] odd:bg-gray-100 odd:data-[rowSelected]:bg-[var(--theme)]/50 data-[rowSelected]:bg-[var(--theme)]/30 has-[td:hover]:text-secondary-500 cursor-pointer;
  }

  .table thead th,
  .table td {
    @apply py-1.5 px-2;
  }
}