@reference "../../../style.css";

@layer base {
  @property --theme {
    syntax: '<color>';
    inherits: true;
    initial-value: var(--color-primary-500);
  }

  /*
Source - https://stackoverflow.com/a
Posted by Alex Char, modified by community. See post 'Timeline' for change history
Retrieved 2025-11-28, License - CC BY-SA 4.0
*/

  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

@layer components {

  /*table容器*/
  .table-container {
    --theme: var(--themeColor, var(--color-primary-100));
    @apply w-full h-fit rounded-md bg-[#fff] max-w-full max-h-80 overflow-auto shadow-sm scroll-smooth;
  }

  .table-container label {
    @apply justify-center
  }

  .table:empty {
    @apply mx-auto w-10/12 h-20
  }

  .table-skeleton {
    @apply w-full h-full max-h-full overflow-hidden bg-[#fff];
  }

  /*table本體*/
  .table {
    @apply w-full h-full rounded-md;
  }

  .table thead {
    @apply sticky top-0 bg-[var(--theme)] shadow-md text-white select-none;
  }

  .table tbody {
    @apply w-full h-full min-h-50;
  }

  .table tbody tr {
    @apply w-full transition-all bg-[#fff] odd:bg-gray-100 odd:data-[rowSelected]:bg-[var(--theme)]/50 data-[rowSelected]:bg-[var(--theme)]/30 has-[td:hover]:text-[var(--theme)]/80 cursor-pointer;
  }

  .table thead th,
  .table td {
    @apply py-1.5 px-2;
  }

  .pagination {
    --theme: var(--themeColor, var(--color-primary-500));
    @apply flex gap-2 my-3 items-center
  }

  .page-item {
    @apply aspect-square hover:bg-[var(--theme)] rounded-full w-8 select-none transition-all duration-75 disabled:text-gray-300 disabled:pointer-events-none;
  }

  .page-item:not([disabled]) {
    @apply hover:bg-[var(--theme)]/30 hover:text-[var(--theme)] cursor-pointer
  }

  .page-item[data-currentPage] {
    @apply bg-[var(--theme)] text-white;
  }

  .pagination-jump {
    @apply flex gap-1 items-center text-gray-400 text-nowrap select-none [&>div]:max-w-20
  }
}