@reference "../../../style.css";

@layer base {
  @property --theme {
    syntax: '<color>';
    inherits: true;
    initial-value: var(--color-primary-500);
  }

  /*
Source - https://stackoverflow.com/a
Posted by Alex Char, modified by community. See post 'Timeline' for change history
Retrieved 2025-11-28, License - CC BY-SA 4.0
*/

  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

@layer components {

  /*table容器*/
  .table-container {
    --theme: var(--themeColor, var(--color-primary-100));
    @apply relative w-full h-fit rounded-md bg-[#fff] max-w-full max-h-80 overflow-auto shadow-sm scroll-smooth isolate;
  }

  .table-container::after {
    @apply content-[""] block h-2 w-full bg-gradient-to-b from-transparent to-gray-200 absolute bottom-0 -z-1 mt-2;
  }

  .table-container label {
    @apply justify-center
  }

  .table:empty {
    @apply mx-auto w-10/12 h-20
  }

  .table-skeleton {
    @apply w-full h-full max-h-full overflow-hidden bg-[#fff];
  }

  /*table本體*/
  .table {
    /*checkbox變數*/
    --themeColor: var(--theme);
    @apply w-full h-full rounded-md;
  }

  .table thead {
    --themeColor: color-mix(in srgb, var(--theme) 50%, var(--color-black) 50%);
    @apply sticky top-0 bg-[var(--theme)] shadow-sm tracking-[1px] text-white select-none text-nowrap;
  }

  .table tbody {
    @apply w-full h-full min-h-50;
  }

  .table tbody tr {
    --hover-text-theme: color-mix(in srgb, var(--themeColor) 60%, var(--color-black) 40%);
    @apply w-full transition-all bg-[#fff] odd:bg-gray-50 odd:data-[rowSelected]:bg-[var(--theme)]/40 data-[rowSelected]:bg-[var(--theme)]/20 data-[rowSelected]:hover:bg-gray-100 has-[td:hover]:bg-gray-100 cursor-pointer hover:[&_.checkbox]:border-[var(--theme)] hover:[&_.checkbox]:ring-2 hover:[&_.checkbox]:ring-[var(--theme)]/50 [&_.checkbox]:checked:text-[var(--theme)];
  }

  .table thead th,
  .table td {
    @apply py-1.5 px-3;
  }

  .pagination {
    --theme: var(--themeColor, var(--color-primary-500));
    @apply flex gap-2 my-3 items-center
  }

  .page-item {
    @apply aspect-square hover:bg-[var(--theme)] rounded-full w-8 select-none transition-all duration-75 disabled:text-gray-300 disabled:pointer-events-none;
  }

  .page-item:not([disabled]) {
    @apply hover:bg-[var(--theme)]/30 hover:text-[var(--theme)] cursor-pointer
  }

  .page-item[data-currentPage] {
    @apply bg-[var(--theme)] text-white;
  }

  .pagination-jump {
    @apply flex gap-1 items-center text-gray-400 text-nowrap select-none [&>div]:max-w-20
  }
}