@reference "../../../style.css";

@layer base {
  @property --theme {
    syntax: '<color>';
    inherits: true;
    initial-value: var(--color-primary-500);
  }

  /*
Source - https://stackoverflow.com/a
Posted by Alex Char, modified by community. See post 'Timeline' for change history
Retrieved 2025-11-28, License - CC BY-SA 4.0
*/

  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

@layer components {

  /*table容器*/
  .table-container {
    --theme: var(--themeColor, var(--color-primary-100));
    @apply relative w-full h-fit bg-[#fff] max-w-full max-h-80 overflow-auto scroll-smooth isolate;
  }

  .table-container label {
    @apply justify-center
  }

  .table:empty {
    @apply mx-auto w-10/12 h-20
  }

  .table-skeleton {
    @apply w-full h-full max-h-full overflow-hidden bg-[#fff];
  }

  /*table本體*/
  .table {
    /*checkbox變數*/
    --themeColor: var(--theme);
    @apply table-fixed mr-2;
  }

  .table thead {
    --themeColor: color-mix(in srgb, var(--theme) 50%, var(--color-black) 50%);
    @apply w-full sticky top-0 overflow-hidden [&_th]:bg-[var(--theme)] [&_th:is(:first-child)]:rounded-l-xs [&_th:is(:last-child)]:rounded-r-xs tracking-[1px] text-white select-none text-nowrap hidden md:table-header-group;
  }

  .table thead th[data-sort] {
    --themeColor: color-mix(in srgb, var(--theme) 50%, var(--color-black) 50%);
    --themeUnactive: color-mix(in srgb, var(--theme) 80%, var(--color-black) 20%);
    --themeActive: color-mix(in srgb, var(--theme) 10%, var(--color-black) 90%);
    @apply cursor-pointer [&_span]:flex [&_span]:gap-1 [&_.icon]:w-6 [&_.icon]:h-6 [&_.icon]:text-(--themeColor) data-[sort='dec']:[&_.icon]:rotate-x-180 data-[sort='dec']:[&_.icon]:transition-all data-[sort='dec']:[&_.icon]:duration-75 hover:[&_.icon]:text-(--themeActive);
  }

  .table tbody {
    @apply w-full h-full min-h-50;
  }

  .table tbody tr {
    --hover-text-theme: color-mix(in srgb, var(--themeColor) 60%, var(--color-black) 40%);
    @apply w-full border-b border-gray-300 transition-all bg-[#fff] odd:bg-gray-50 odd:data-[rowSelected]:bg-[var(--theme)]/40 data-[rowSelected]:bg-[var(--theme)]/20 data-[rowSelected]:hover:bg-gray-100 has-[td:hover]:bg-gray-100 cursor-pointer hover:[&_.checkbox]:border-[var(--theme)] hover:[&_.checkbox]:ring-2 hover:[&_.checkbox]:ring-[var(--theme)]/50 [&_.checkbox]:checked:text-[var(--theme)];
  }

  .table thead th,
  .table td {
    @apply py-1.5 px-3;
  }

  @media screen and (max-width: 500px) {

    .table :is(tr, td) {
      @apply block
    }

    .table td:not(:first-child)::before {
      @apply content-[attr(data-field)] bg-(--themeColor) block;
    }

  }

  .table-tools {
    @apply flex justify-end w-full mb-2
  }

  .pagination {
    --theme: var(--themeColor, var(--color-primary-500));
    @apply flex gap-2 my-3 items-center
  }

  .page-item {
    @apply aspect-square hover:bg-[var(--theme)] rounded-full w-8 select-none transition-all duration-75 disabled:text-gray-300 disabled:pointer-events-none;
  }

  .page-item:not([disabled]) {
    @apply hover:bg-[var(--theme)]/30 hover:text-[var(--theme)] cursor-pointer
  }

  .page-item[data-currentPage] {
    @apply bg-[var(--theme)] text-white;
  }

  .pagination-jump {
    @apply flex grow-[2] mr-3 justify-end gap-1 items-center text-gray-400 text-nowrap select-none [&>div]:max-w-20
  }
}