@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --inset-shadow-md: inset 0 0 0 3px var(--color-yellow-50);
}

@layer base {
  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }
}

@layer components {
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .slider {
    @apply relative content-center w-min mt-20;
  }

  .slider-thumb {
    --bgColor: var(--themeColor, var(--color-yellow-500));
    background: var(--tmb-img);
    @apply w-5 h-5 bg-(--bgColor) rounded-full absolute top-[50%] transition-all translate-y-[-50%] bg-cover cursor-grab inset-shadow-md shadow-yellow-50 z-2;
  }

  .custom-thumb {
    @apply bg-transparent w-10 h-10 inset-shadow-none;
  }

  .mask {
    --bgColor: var(--themeColor, var(--color-yellow-500));
    width: var(--slider-width);
    @apply inline-block bg-(--bgColor)/50 pointer-events-none rounded-full transition-all absolute h-full left-0;
  }

  .slider[data-slider="range"] .mask {
    left: var(--start-point);
  }
}