@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --inset-shadow-md: inset 0 0 0 3px var(--color-yellow-50);
}

@layer base {
  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }

  input[type="checkbox"] {
    @apply checked:text-gray-500 h-4 w-4 cursor-pointer rounded-md border border-gray-300 bg-gray-50 focus:border-0 focus:ring-0 active:ring-0;
  }

  /* switch style */
  input[type="checkbox"]:is([data-checkstyle="switch"],
    [data-checkstyle="toggle"]) {
    @apply appearance-none hidden;
  }

  label:has(input[type="checkbox"][data-checkstyle="switch"]) {
    &::before {
      content: "";
      @apply rounded-full aspect-square border-2 border-gray-500 inline-block max-w-1/2 w-8 bg-gray-300 absolute transform top-[50%] -translate-y-[50%] transition-all left-1
    }

    @apply relative pl-0.5 pr-10 py-0.5 bg-white rounded-full max-w-30 min-w-12 min-h-7 h-full inline-block cursor-pointer hover:bg-gray-50 transition duration-75;
  }

  label:has(input[data-checkstyle="switch"]:is(:checked)) {
    &::before {
      @apply bg-green-300 border-green-500;
    }
  }

  /* toggle style */
  label:has(input[type="checkbox"][data-checkstyle="toggle"]) {
    --bgColor: var(--themeColor, var(--color-yellow-500));

    &::before {
      content: "";
      @apply inline-block bg-(--bgColor) mask-[var(--toggle-img)] mask-center mask-no-repeat w-7 min-h-7
    }

    @apply relative p-0.5 h-full flex gap-2 items-center cursor-pointer transition duration-75;
  }

  /* label:has(input[data-checkstyle="toggle"]:is(:checked)) {
    &::before {
      @apply translate-x-[85%] bg-green-300 border-green-500;
    }
  } */
}

@layer components {
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .slider {
    @apply relative content-center w-min mt-20;
  }

  .slider-thumb {
    touch-action: none;
    --bgColor: var(--themeColor, var(--color-yellow-500));
    background: var(--tmb-img);
    @apply w-5 h-5 bg-(--bgColor) rounded-full absolute top-[50%] transition-all translate-y-[-50%] bg-cover cursor-grab inset-shadow-md shadow-yellow-50 z-2;
  }

  .custom-thumb {
    @apply bg-transparent w-10 h-10 inset-shadow-none;
  }

  .mask {
    --bgColor: var(--themeColor, var(--color-yellow-500));
    width: var(--slider-width);
    @apply inline-block bg-(--bgColor)/50 pointer-events-none rounded-full transition-all absolute h-full left-0;
  }

  .slider[data-slider="range"] .mask {
    left: var(--start-point);
  }

  /* input */
  .input {
    @apply border-none px-2 py-3 outline-none active:border-none;
  }

  .input-group {
    @apply inline-block;
  }

  .disabled {
    @apply hover:cursor-not-allowed;
  }

  .checkbox {
    @apply mr-1;
  }

  .checkbox-group,
  .radio-group {
    @apply w-full items-center rounded-sm border border-gray-200 bg-white text-sm font-medium text-gray-900 sm:flex [&_.group-item]:w-full [&_.group-item]:border-b [&_.group-item]:border-gray-200 [&_.group-item]:ps-3 [&_select.group-item]:grow-[0.3] overflow-hidden;
  }

  :is(.checkbox-group, .radio-group) li.item {
    @apply ps-3 w-full border-b border-r border-gray-200 py-2 h-full content-center;
  }

  .input-tag-group {
    @apply relative flex w-fit items-center gap-1 rounded-sm bg-blue-200 px-3 py-1 text-gray-700 hover:bg-blue-400 has-[.tag-input:checked]:bg-yellow-200 has-[.tag-input:checked]:text-gray-900 [&_.tag-input]:hidden;
  }

  .input-tag-group:has(.tag-input:checked) .icon:nth-child(1) {
    @apply rotate-90 opacity-0 transition-all duration-100;
  }

  .input-tag-group:has(.tag-input:checked) .icon:nth-child(2) {
    @apply rotate-360 opacity-100;
  }

  .input-tag-group .icon:nth-child(2) {
    @apply absolute opacity-0 transition-all duration-200;
  }

  /* 0805 switch-style */
  .label {
    @apply text-gray-500 py-1.5 text-nowrap
  }

  .label:has(input[type="checkbox"][data-checkstyle="switch"]) {
    @apply pl-10 pr-3 transition-all duration-100
  }

  .label:has(input[type="checkbox"][data-checkstyle="switch"]:checked) {
    &::before {
      @apply left-auto right-1
    }

    @apply pl-3 pr-10 text-green-600
  }

  /* 0805 ------------------------- */
}